{% extends "base.html" %}

{% block content %}
<h2>Мои файлы</h2>
<table style="width: 100%; border-collapse: collapse;">
    <tr>
        <th style="border: 1px solid #ddd; padding: 8px;">Имя файла</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Ссылка на файл</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Длительность</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Спикеры</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Дата создания</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Статус</th>
        <th style="border: 1px solid #ddd; padding: 8px;">Действия</th>
    </tr>
    {% for file in files %}
    <tr>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ file.name }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">
            <a href="{% url 'files:download_file' file.id %}" target="_blank" title="Скачать файл">{{ file.file.url|truncatechars:30 }}</a>
        </td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ file.duration }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ file.speakers }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ file.created_at_formatted }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">{{ file.status }}</td>
        <td style="border: 1px solid #ddd; padding: 8px;">
            <div style="display: flex; align-items: center;">
                {% if file.transcription %}
                    <a href="{% url 'files:download_transcription' file.id %}" style="margin-right: 10px; background-color: #28a745; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;">Загрузить транскрипцию</a>
                {% endif %}
                {% if file.analysis_result %}
                    <a href="{% url 'files:download_analysis' file.id %}" style="margin-right: 10px; background-color: #007bff; color: white; padding: 5px 10px; text-decoration: none; border-radius: 4px;">Загрузить анализ</a>
                {% else %}
                    <p>No analysis result available</p> <!-- Debug statement -->
                {% endif %}
                <form method="post" action="{% url 'files:delete_file' file.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit" style="background-color: #ff4d4d; border: none; color: white; padding: 5px 10px; cursor: pointer; border-radius: 4px;">Удалить</button>
                </form>
            </div>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
